<!--
  The Disqus lazy loading.
-->
{%- if page.comments != false -%}

  <div id="comment-section"></div>
  <script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.commandblock2.xyz:8448",
    serverName: "matrix.commandblock2.xyz",
    siteName: "{{ site.comments.disqus.shortname }}",
    commentSectionId: "{{ page.id }}",
    loginEnabled: false
  })
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://cactus.chat" rel="nofollow">comments powered by matrix.org.</a></noscript>

{%- endif -%}